.root {
    composes: max-w-site from global;
    composes: mx-auto from global;
    composes: my-0 from global;
    composes: px-sm from global;
    composes: py-md from global;
    composes: lg_px-lg from global;
}

.title {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
